TransformerGAN_trained_models/
TransformerPred_trained_models/
l5_rasterized_vae_trained_models/
l5_rasterized_discrete_vae_trained_models/
wandb/
videos/
result/
ngc/ngc_config.json
checkpoints
experiments/test/
l5_rasterized_gc_trained_models/
ma_rasterized_trained_models/
spatial_planner_trained_models/
results/
scripts/create_experiment.py
scripts/create_evaluation.py
tbsim/configs/eval_configs.py
scripts/evaluate.py
## config files
*.yaml

## local test files

cnn_test.ipynb
test_rollout.py
visualize_agent.ipynb
test.py
experiments/templates/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/
scripts/create_evaluation.py
scripts/evaluate.py
tbsim/configs/eval_configs.py

l5_rasterized_tree_vae_trained_models/test/run0/logs/log.txt
